<div class="container--small header-margin">
  <%= render partial: 'shared/page_title', locals: { text: 'Login' } %>

  <%= simple_form_for(resource, as: resource_name,
    url: session_path(resource_name),
    html: { 'data-turbo': false }
      ) do |f| %>
    <%= f.input :email,
      required: false,
      autofocus: true,
      input_html: { autocomplete: "email" } %>
    <%= f.input :password,
      required: false,
      input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    <%= f.button :submit, "Log in" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
